body {
  background:url("../images/crop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#brand{ 
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

#formDiv{
  padding: 50px;
  border: 2px;
  border-style: solid;
  opacity: .7;
  border-color: lightgrey;
}

#formDiv:hover {
  opacity: 1;
}

.form-container {
  justify-content: center;
  height: calc(100vh - 86px);
  display: flex;
  align-items: center;
}

.carousel-item > img {
  margin:80px auto;
}

#empty{
  opacity: 0;
}

.d-flex{
  flex-wrap: wrap;
}

.recipe{
  margin: 5px;
}

.card-body{
  padding:0;
  background-color: rgb(red, green, blue)
}

.list-group-item{
  padding:.25rem;
  background-color: rgba(3, 192, 3, 0.4);
}

.card{
  background-color: rgb(255, 255, 255, 0.7);
}
